.popup__close-icon {
   background-image: url("../../../images/Close_Icon.svg");
    height: 32px;
    width: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.popup__close-icon:hover {
    filter: opacity(60%);
}

@media screen and (max-width: 590px) {
    .popup__close-icon {
        height: 20px;
        width: 20px;
        top: -36px;
        right: 0;
    }
}