.footer {
    margin-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 950px) {
    .footer {
        margin: 48px 27px 0;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 360px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
    }
}