.card {
    display: flex;
    flex-direction: column;
    width: 282px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    background-size: contain;
    position: relative;
}