.info-tooltip__figcaption {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000;
    max-width: 358px;
    padding-bottom: 36px;
    margin: 0;
}

@media screen and (max-width: 410px) {
    .info-tooltip__figcaption {
        font-size: 20px;
        line-height: 24px;
        width: 244px;
        padding-bottom: 50px;
    }
}