@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/_mobile/header_mobile.css);
@import url(./blocks/header/__wrapper/header__wrapper.css);
@import url(blocks/header/__wrapper-mail/header__wrapper-mail.css);
@import url(blocks/header/__wrapper-logo/header__wrapper-logo.css);
@import url(./blocks/header/__close-icon/header__close-icon.css);
@import url(./blocks/header/__burger-icon/header__burger-icon.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_mobile/header__link_mobile.css);
@import url(./blocks/header/__link/_color/header__link_color.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__name-wrapper/profile__name-wrapper.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__button-edit/profile__button-edit.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/element/element.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__mask/card__mask.css);
@import url(./blocks/card/__wrapper/card__wrapper.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__vector/card__vector.css);
@import url(./blocks/card/__count-likes/card__count-likes.css);
@import url(./blocks/card/__like-wrapper/card__like-wrapper.css);
@import url(./blocks/card/__vector/_active/card__vector_active.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_close/popup_close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/popup/__heading/_consent-deletion/popup__heading_consent-deletion.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__button/_consent-deletion/popup__button_consent-deletion.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__input-error/_all-field/popup__input-error_all-field.css);
@import url(./blocks/info-tooltip/info-tooltip.css);
@import url(./blocks/info-tooltip/__wrapper/info-tooltip__wrapper.css);
@import url(./blocks/info-tooltip/__img/info-tooltip__img.css);
@import url(./blocks/info-tooltip/__figcaption/info-tooltip__figcaption.css);
@import url(./blocks/picture-popup/picture-popup.css);
@import url(./blocks/picture-popup/__figure/picture-popup__figure.css);
@import url(./blocks/picture-popup/__img/picture-popup__img.css);
@import url(./blocks/picture-popup/__figcaption/picture-popup__figcaption.css);
@import url(./blocks/picture-popup/__wrapper/picture-popup__wrapper.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__wrapper/register__wrapper.css);
@import url(./blocks/register/__welcome/register__welcome.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__button/register__button.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__question/register__question.css);
@import url(./blocks/container/container.css);
@import url(./blocks/container/__line/container__line.css);
@import url(./blocks/root/root.css);
